---
layout: default
---

<h1>{{ 'home.title' | t: page.lang }}</h1>
<article class="reveal">
    <p>{{ 'home.p1' | t: page.lang }}</p>
    <p>{{ 'home.p2' | t: page.lang }}</p>
    <p>{{ 'home.p3' | t: page.lang }}</p>
    <p>{{ 'home.p4' | t: page.lang }}</p>
    <p>{{ 'home.p5' | t: page.lang }}</p>
    <p>{{ 'home.p6' | t: page.lang }}</p>
    <p>{{ 'home.p7' | t: page.lang }}</p>
    <p>{{ 'home.p8' | t: page.lang }}</p>
    <div class="expand">
        <button class="button primary">
            {{ 'home.expand' | t: page.lang }} <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
    </div>
</article>

<hr />

<h2>{{ 'home.latest_projects' | t: page.lang }}</h2>
<p>{{ 'home.see_all_projects' | t: page.lang }}</p>
<section class="cards">
    <div class="card">
        <h3>Vanilla OS</h3>
        <p>{{ 'projects.vanilla_desc' | t: page.lang }}</p>
        <a class="button link" href="https://vanillaos.org">
            <ion-icon name="link-outline"></ion-icon> {{ 'projects.official_website' | t: page.lang }}
        </a>
    </div>
    <div class="card">
        <h3>Bottles</h3>
        <p>{{ 'projects.bottles_desc' | t: page.lang }}</p>
        <a class="button link" href="https://usebottles.com/">
            <ion-icon name="link-outline"></ion-icon> {{ 'projects.official_website' | t: page.lang }}
        </a>
    </div>
    <div class="card">
        <h3>vnt</h3>
        <p>{{ 'projects.vnt_desc' | t: page.lang }}</p>
        <a class="button link" href="https://github.com/mirkobrombin/vnt">
            <ion-icon name="logo-github"></ion-icon> {{ 'projects.see_on_github' | t: page.lang }}
        </a>
    </div>
    <div class="card">
        <h3>DaBaDee</h3>
        <p>{{ 'projects.dabadee_desc' | t: page.lang }}</p>
        <a class="button link" href="https://github.com/mirkobrombin/DaBaDee">
            <ion-icon name="logo-github"></ion-icon> {{ 'projects.see_on_github' | t: page.lang }}
        </a>
    </div>
</section>
</div>