<footer>
    <div class="wrapper">
        <p>{{ 'footer.copyright' | t: page.lang }}</p>
        <p>{{ 'footer.cookies' | t: page.lang }}
            <a href="/privacy">{{ 'footer.privacy_policy' | t: page.lang }}</a>.
        </p>
        <p>
            <a href="https://mastodon.social/@mirkobrombin">{{ 'navlist.mastodon' | t: page.lang }}</a> .
            <a href="https://www.linkedin.com/in/mirkobrombin/" target="_blank">{{ 'navlist.linkedin' | t: page.lang }}</a> .
            <a href="https://www.github.com/mirkobrombin" target="_blank">{{ 'navlist.github' | t: page.lang }}</a> .
            <a href="https://www.twitter.com/brombinmirko" target="_blank">{{ 'navlist.twitter' | t: page.lang }}</a> .
            <a href="https://www.t.me/brombinmirko" target="_blank">{{ 'navlist.telegram' | t: page.lang }}</a>
        </p>
        <p>{{ 'footer.hosted_by' | t: page.lang }} <a href="https://github.com/mirkobrombin/bromb.in" title="GitHub Pages">GitHub Pages</a></p>
        <script src="/assets/js/scripts.js"></script>
    </div>
</footer>